[submodule "Ignis/packages/glm"]
	path = Ignis/packages/glm
	url = https://github.com/g-truc/glm
[submodule "Ignis/packages/spdlog"]
	path = Ignis/packages/spdlog
	url = https://github.com/gabime/spdlog
